.header {
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    /* inves de usar align-itens, com paddig fica mais responsivo pois não temos heigth */
    padding: 1.25rem 0;
}

.header img {
    height: 2rem;
}
