.wrapper {
    width: 100%;
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    /* mantem o heigth dos elementos, se não irá tentar esticar */
    align-items: flex-start;
}